  <select id="search-by" aria-label="Search By" onchange={{action (mut selected) value="target.value"}}>
    <option value="latlong">latitude and longitude</option>
    <option value="lat">latitude</option>
    <option value="long">longitude</option>
  </select>
